body{
    background-color: rgb(135, 127, 125);
    display: flex;

    h1{
        color:rgb(246, 215, 215)
    }
    

    img{
        width: 250px;
        height: auto;
    }

    .buttto-01{
        background-color:green;
    }
    .buttto-02{
        background-color:rgb(235, 162, 4);
    }

  
    
}